@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root
{
    --bg: #06032C;
    --primary: #3B90FF;
    --secondary: #21179E;
    --secondary-hollow: rgba(33, 23, 158, 0.1);
    --secondary-select: rgba(33, 23, 158, 0.5);
    --secondary-tag: rgba(33, 23, 158, 0.3);
    --success: #2eaf2e; 
    --error: #b32e2e;
}
*
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body
{
    background-color: var(--bg);
    margin: 0;
}
#logo
{
    height: 40px;
    width: 90px;
}
main
{
    width: 90%;
    margin: auto;
}
hr
{
    border: none;
    height: 1px;
    background-color: var(--primary);
}
#projects
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    min-height: 600px;
}
#projects_container
{
    display: flex;
    gap: 3%;
    width: 90%;
}
#hero
{
    padding-top: 120px;
    margin-bottom: 260px;
}
#hero > h3
{
    margin-bottom: 50px;
    max-width: 50vw;
    
}
#hero > div
{
    gap: 40px;
}
h1
{
    font-size: 84px;
    font-weight: 500;
    color: white;
}
h2 > span
{
    font-size: 32px;
    color:white;
    font-weight: 300;
}
nav > a
{
    text-decoration: none;
    font-size: 12px !important;
    font-size: medium;
    color: black;
    font-weight: 400    ;
}
h3
{
    font-size: 24px;
    color: white;
    font-weight: 300;
}
.filled-button > img
{
    position: relative;
    top: 4px;
    left: 2px;
}
#tech_stack
{
    width: 50%;
    color: white;
    min-height: 1000px;
}
#tech_stack > h4
{
    margin-bottom: 0;
    font-size: 32px;
}
#tech_stack > p
{
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
#personal_card > h4
{
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 32px;
}
#personal_card > a
{
    margin-top: 100px;
    width: 200px;
    text-align: center;
}
#personal_card > p > img
{
    position: relative;
    top: 6px;
    left: -10px;
}
#about > div > div:first-child
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 40px 0 20px 0;
}
#personal_card
{
    width: 100%;
    height: 650px;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
#personal_card > img
{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
#about
{
    width: 90%;
    margin: auto;
}
#about > h3
{
    text-align: center;
    margin-bottom: 100px;    
}
#resume_button
{
    width: 80%;
    text-align: center;
    margin-top: 50px;
    display: block;
}
#resume_button > img
{
    position: relative;
    top: 4px;
    margin-left: 10px;
}
#about > div
{
    flex-wrap: wrap;
    gap: 20%;
}
header
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10%;
    height: 60px;
    align-items: center;
    z-index: 5;
}
select
{
    padding: 8px 20px;
    border: 1px solid black;
    appearance: base-select;
    height: 40px;
    width: 150px;
    font-size: medium;
    background-color: white;
    cursor: pointer;
}
nav
{
    display: flex;
    justify-content: end;
    gap: 15%;
    width: 50%;
}
 
#contact
{
    min-height: 700px;
}
#github_link
{
    margin-top: 200px;
    font-size: 18px;
    color: white;
}
#github_link > img
{

    position: relative;
    top: 4px;
    left: 6px;
}
.socials-button
{
    width: 250px;
    display: flex;
    align-items: center;
}
#contact
{
    padding-top: 40px;
    justify-content: center;
    gap: 10%;
}
#contact_form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: fit-content;
}

#contact_form > h3
{
    font-weight: 500;
    margin: 10px 0;
}
input, textarea
{
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
}
textarea
{
    resize: none;
    height: 150px;
}
button
{
    width: 100%;
    background-color: var(--primary);
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
footer
{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid var(--primary);
}
footer > h3, footer > p
{
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    font-weight: 400;
}
footer > h3
{
    font-size: 12px;
}
footer > p
{
    font-size: 12px;
    margin-top: 10px;
}
#socials
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.socials-button > img
{
    margin-right: 20px;
}
.socials-button > p
{
    margin: 0;
}
.socials-button > a
{
    color: white;
}