@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root
{
    --bg: #06032C;
    --primary: #3B90FF;
    --secondary: #21179E;
    --secondary-hollow: rgba(33, 23, 158, 0.1);
    --secondary-select: rgba(33, 23, 158, 0.5);
    --secondary-tag: rgba(33, 23, 158, 0.5);
}
*
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ibm-plex-sans
{
    font-family: "IBM Plex Sans", sans-serif;
}
body
{
    background-color: var(--bg);
}
#logo
{
    height: 40px;
    width: 90px;
}
main
{
    width: 90%;
    margin: auto;
}
hr
{
    border: none;
    height: 1px;
    background-color: var(--primary);
}
#hero
{
    padding-top: 120px;
    margin-bottom: 260px;
}
#hero > h3
{
    margin-bottom: 50px;
    max-width: 50vw;
}
#hero > div
{
    gap: 40px;
}
h1
{
    font-size: 84px;
    font-weight: 500;
    color: white;
}
h2
{
    font-size: 32px;
    color:white;
    font-weight: 300;
}
nav > h2
{
    font-size: medium;
}
h3
{
    font-size: 24px;
    color: white;
    font-weight: 300;
}
.icon-medium
{
    width: 25px;
}
.filled-button
{
    background-color: var(--primary);
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.filled-button > img
{
    position: relative;
    top: 4px;
    left: 2px;
}
.hollow-button
{
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid var(--primary);
    cursor: pointer;
    text-decoration: none;
}
.hollow-card
{
    background-color: var(--secondary-hollow);
    border: 1px solid var(--primary);
    padding: 20px;
    border-radius: 5px;
    color: white;
}
#tech_items_container
{
    flex-direction: column;
}
#tech_stack
{
    width: 40%;
    color: white;
    height: 1000px;
}
#tech_stack > h4
{
    margin-bottom: 0;
    font-size: 32px;
}
#tech_stack > p
{
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
#personal_card > h4
{
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 32px;
}
#personal_card > a
{
    margin-top: 30px;
    width: 200px;
    text-align: center;
}
#personal_card > p > img
{
    position: relative;
    top: 6px;
    left: -10px;
}
#personal_card
{
    width: 30%;
    height: 550px;
    border-radius: 5px;
    display: flex;
    padding: 40px 0 20px 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}
#personal_card > img
{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
#about
{
    width: 90%;
    margin: auto;
}
#about > h3
{
    text-align: center;
    margin-bottom: 100px;    
}

#about > div
{
    gap: 25%;
}
header
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10%;
    height: 60px;
    align-items: center;
}
select
{
    padding: 8px 20px;
    border: 1px solid black;
    appearance: base-select;
    height: 40px;
    width: 150px;
    font-size: medium;
    background-color: white;
    cursor: pointer;
}
nav
{
    display: flex;
    justify-content: end;
    gap: 15%;
    width: 50%;
}
.flex
{
    display: flex;
}
#tech_items_container > div, .category-container > div
{
    gap: 20px;
    flex-wrap: wrap;
}
.tech-item
{
    padding: 0 10px;
}
.tech-item > img
{
    margin-right: 10px;
}
.category-container > p
{
    cursor: pointer;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px 20px;
}
.category-container > h5
{
    font-size: 16px;
}
tech-stack > div
{
    gap: 15px;
}
tech-stack > div:first-child
{
    margin-bottom: 20px;
}
.active
{
    background-color: var(--secondary-select);
}