:host
{
    width: 30%;
    height: 300px;
    border-radius: 15px !important;
    display: block;
    padding: 0 !important;
}
#thumbnail_wrapper >  img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
#thumbnail_wrapper
{
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
#gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    border-radius: 15px 15px 0 0;
}
#tech_stack_container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#details_container
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100px;
    justify-content: flex-start;
    gap: 10px;
}
#details_container > p
{
    min-height: 30px;
}
.tech-item
{
    background-color: var(--secondary-tag);
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding:4px 8px;
    min-width: 40px;
    text-align: center;
}
.tech-item > p
{
    font-size: 12px;
    margin: 0;
}
p
{
    margin-bottom: 5px;
    font-size: 12px;
}
h3,p
{
    margin-top: 0;
}
h3
{
    position: relative;
    bottom: 40px;
    left: 5%;
}
.details-overlay
{
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
li
{
    margin-bottom: 15px;
}
.details-popup
{
    width: 40%;
    max-width: 600px;
    min-height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--bg) !important;
}